@use "../utils/functions" as fn;

%btn {
  border-radius: 14px;
  padding: 1em 1.5em;
  font-size: 1rem;
  font-weight: bold;
}

// peut-être transformer en fonction (a voir)
.btn-primary {
  @extend %btn;
  background-color: fn.color(primary);
}

.btn-secondary {
  @extend %btn;
  border: solid 1px fn.color(primary);
}
