@use "../utils/functions" as fn;
@use "../utils/variables" as var;
@use "../utils/mixins" as mix;
@use "../molecules" as molecules;

.header-resume {
  display: flex;
  gap: var.$gap;

  &__primary {
    width: 80%;
    display: flex;
    align-items: stretch;
    gap: var.$gap;
    justify-content: space-between;

    &__picture {
      @extend atoms, %profile-pic-container !optional;
    }

    &__resume {
      @extend molecules, %resume !optional;

      &-title {
        @extend molecules, %resume-title !optional;
      }

      &-description {
        @extend molecules, %resume-description !optional;
      }
    }
  }

  &__secondary {
    gap: var.$gap;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &_container {
      &_content {
        @include mix.card-container;

        &-icon {
          @extend molecules, %secondary-icon !optional;
        }
        &-text {
          @extend molecules, %text-highlight !optional;
        }
      }
    }
  }
}
