@use "../utils/functions" as fn;
@use "../utils/variables" as var;
@use "../utils/mixins" as mix;
@use "../molecules" as molecules;

.header-resume {
  display: flex;
  gap: var.$gap;

  &__container {
    width: 80%;
    display: flex;
    align-items: stretch;
    gap: var.$gap;
    justify-content: space-between;
  }

  &__picture {
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__resume {
    @include mix.card-container;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 65%;
  }

  &__title {
    @include mix.heading-primary;
  }

  // &__description {
  //   @include mix.body-text;
  // }

  &__secondary {
    gap: var.$gap;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__secondary-content {
    @extend molecules, %secondary-content !optional;
  }

  &__secondary-icon {
    @extend molecules, %secondary-icon !optional;
  }

  &__secondary-title {
    @extend molecules, %secondary-title !optional;
  }
}
