@use "../utils/variables" as var;
@use "../utils/functions" as fn;
@use "../utils/mixins" as mix;

@use "../atoms" as atoms;
@use "../molecules" as molecules;

html,
body {
  @include mix.default-font;
  background-color: fn.color(ambiant);
}

#content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 80%;
}

.main {
  &__title {
    @extend atoms, %heading-primary !optional;
    margin: 1.5em 0 1em 1em;
  }
  &__cards {
    @extend organisms, %cards !optional;
  }
}
