@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.btn-secondary, .btn-primary {
  border-radius: 14px;
  padding: 1em 1.5em;
  font-size: 1rem;
  font-weight: bold;
}

.btn-primary {
  background-color: #413224;
}

.btn-secondary {
  border: solid 1px #413224;
}

.card__tag,
.tag-technology {
  color: #968e86;
  border-color: #968e86;
  font-size: 0.8rem;
  border: solid 1px;
  width: min-content;
  padding: 0.3em 0.5em;
  border-radius: 0.4em;
}

.body-text {
  font-family: Roboto, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.2;
  color: #413224;
}

.main__title, .resume-title,
.header-resume__primary__resume-title,
.heading-primary {
  font-family: Roboto, Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.4;
  color: #413224;
}

.card__title,
.heading-secondary {
  font-family: Roboto, Arial, sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.4;
  color: #413224;
}

.text-highlight,
.header-resume__secondary_container_content-text {
  color: #968e86;
}

.logo-text {
  font-family: "Rajdhani", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: #968e86;
  text-decoration: none;
}

.main-menu-text a,
.menu-item a,
.header-top__nav__menu__item a {
  font-size: 0.7rem;
  color: #968e86;
  font-weight: 400;
  text-decoration: none;
}

.logo-icon {
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 0.1rem;
}
.logo-icon path {
  stroke: #968e86;
}

.main-menu-icon path,
.menu-item path,
.header-top__nav__menu__item path {
  stroke: #968e86;
}

.secondary-icon path,
.header-resume__secondary_container_content-icon path {
  stroke: #968e86;
}

.profile-pic-container,
.header-resume__primary__picture {
  width: 35%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  overflow: hidden;
}
.profile-pic-container .profile-pic,
.header-resume__primary__picture .profile-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card,
.cards__card {
  background-color: #fff;
  border-radius: 12px;
  padding: 2em;
  height: -webkit-fill-available;
  padding: 0;
  width: calc(33.333% - 0.7em);
}
.card__image {
  object-fit: cover;
  max-height: 200px;
  width: 100%;
  border-radius: 12px 12px 0 0;
}
.card__body {
  display: flex;
  flex-direction: column;
  padding: 1em 1em 2em 1em;
  gap: 1em;
}
.menu-item,
.header-top__nav__menu__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1em;
}

.secondary-icon,
.header-resume__secondary_container_content-icon {
  display: inline-block;
  height: 100%;
  align-content: center;
}

.resume,
.header-resume__primary__resume {
  background-color: #fff;
  border-radius: 12px;
  padding: 2em;
  height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 65%;
}
.header-resume {
  display: flex;
  gap: 1em;
}
.header-resume__primary {
  width: 80%;
  display: flex;
  align-items: stretch;
  gap: 1em;
  justify-content: space-between;
}
.header-resume__secondary {
  gap: 1em;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header-resume__secondary_container_content {
  background-color: #fff;
  border-radius: 12px;
  padding: 2em;
  height: -webkit-fill-available;
}
html,
body {
  font-size: 16px;
  line-height: 1.2;
  font-family: Roboto, Arial, sans-serif;
  background-color: #f4f1ed;
}

#content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1200px;
}

.main__title {
  margin: 1.5em 0 1em 1em;
}
footer {
  display: flex;
  justify-content: space-between;
}

.footer-resume {
  max-width: 400px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1em;
}
.header-top {
  display: flex;
}
.header-top__main {
  width: 80%;
  display: flex;
  align-items: stretch;
}
.header-top__logo {
  width: 35%;
  align-content: center;
}
.header-top__nav {
  width: 65%;
}
.header-top__nav__menu {
  display: flex;
  gap: 1em;
}
.header-top__secondary {
  gap: 1em;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*# sourceMappingURL=index.css.map */
