@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.secondary-btn, .primary-btn {
  border-radius: 14px;
  padding: 1em 1.5em;
  font-size: 1rem;
  font-weight: bold;
}

.primary-btn {
  background-color: #413224;
  color: #968e86;
}

.secondary-btn {
  border: solid 1px #413224;
}

.body-text {
  font-family: Roboto, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.2;
  color: #413224;
}

.menu-item, .nav__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

.logo, .site-header__logo {
  display: flex;
  align-items: center;
}
.logo .svg, .site-header__logo .svg {
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 0.1rem;
}
.logo .svg path, .site-header__logo .svg path {
  stroke: #968e86;
}
.logo a, .site-header__logo a {
  font-family: "Rajdhani", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: #968e86;
  text-decoration: none;
}

.site-header {
  display: flex;
}
.site-header__logo {
  width: 22%;
}

.nav {
  width: 75%;
}
.nav__menu {
  display: flex;
  gap: 1em;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1em;
}

.card {
  background-color: pink;
  width: calc(33.333% - 16px);
}
.card:first-child {
  margin-left: 0;
}
.card:last-child {
  margin-right: 0;
}

.header-resume {
  display: flex;
  gap: 1em;
}
.header-resume__container {
  width: 80%;
  display: flex;
  align-items: stretch;
  gap: 1em;
  justify-content: space-between;
}
.header-resume__picture {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  overflow: hidden;
}
.header-resume__picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header-resume__resume {
  background-color: #fff;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1.5em;
  height: auto;
  width: 70%;
}
.header-resume__title {
  color: #413224;
}
.header-resume__secondary {
  gap: 1em;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header-resume__job {
  background-color: #fff;
  border-radius: 12px;
  padding: 1em;
}

html,
body {
  font-size: 16px;
  line-height: 1.2;
  font-family: Roboto, Arial, sans-serif;
  background-color: #f4f1ed;
}

main {
  display: flex;
  flex-direction: column;
}

#content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 80%;
}

footer {
  display: flex;
  justify-content: space-between;
}

.footer-resume {
  max-width: 400px;
}

/*# sourceMappingURL=index.css.map */
