@use "../utils/functions" as fn;
@use "../utils/variables" as var;

.header-resume {
  display: flex;

  .header-resume__main {
    background-color: yellow;
    display: flex;
    flex-direction: row;
    gap: var.$gap;
    justify-content: space-between;

    .header-resume__picture {
      background-color: red;
    }

    .header-resume__resume {
      background-color: blue;
    }

    .header-resume__title {
      color: fn.color(primary);
    }
  }

  .header-resume__secondary {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
