@use "../utils/variables" as var;
@use "../utils/functions" as fn;

%btn {
  border-radius: 14px;
  padding: 1em 1.5em;
  font-size: 1rem;
  font-weight: bold;
}

// peut-être transformer en fonction (a voir)
.primary-btn {
  @extend %btn;
  background-color: fn.color(primary);

  @if lightness(fn.color(primary)) > 50% {
    color: fn.color(primary);
  } @else {
    color: fn.color(secondary);
  }
}

.secondary-btn {
  @extend %btn;
  border: solid 1px fn.color(primary);
}
