@use "../utils/_variables" as var;
@use "../utils/functions" as fn;

@mixin default-font {
  font-size: var.$base-font-size;
  line-height: fn.line-height(base);
  font-family: fn.font-family(primary);
}

@mixin body-text {
  font-family: fn.font-family(primary);
  font-size: fn.font-size(base);
  line-height: fn.line-height(base);
  color: fn.color(primary);
}

@mixin heading-primary {
  font-family: fn.font-family(primary);
  font-size: fn.font-size(x-large);
  font-weight: fn.font-weight(bold);
  line-height: fn.line-height(large);
  color: fn.color(primary);
}

@mixin heading-secondary {
  font-family: fn.font-family(primary);
  font-size: fn.font-size(large);
  font-weight: fn.font-weight(bold);
  line-height: fn.line-height(large);
  color: fn.color(primary);
}

@mixin logo {
  // font-weight: fn.font-weight(bold);
  stroke: fn.color(secondary);
}

@mixin logo-font {
  font-family: fn.font-family(secondary);
  font-size: fn.font-size(base);
  font-weight: fn.font-weight(medium);
  color: fn.color(secondary);
}

@mixin card-container {
  background-color: fn.color(light);
  border-radius: 12px;
  padding: 2em;
  height: -webkit-fill-available;
  // height: 100%;
}

@mixin tag {
  color: fn.color(secondary);
  border-color: fn.color(secondary);
  font-size: fn.font-size(small);
  border: solid 1px;
  width: min-content;
  padding: 0.3em 0.5em;
  border-radius: 0.4em;
}

// MIXINS WITH PARAMETERS & ARGUMENTS FROM VARIABLES

@mixin color($color) {
  color: fn.color($color);
}

@mixin font-weight($weight) {
  font-weight: fn.font-weight($weight);
}
