@use "../utils/mixins" as mix;
@use "../atoms" as atoms;

.card,
%card {
  @include mix.card-container;
  padding: 0;
  width: calc(33.333% - 0.7em);

  &__header {
    &__image {
      @extend atoms, %card__image !optional;
    }
  }
  &__body {
    display: flex;
    flex-direction: column;
    padding: 1em 1em 2em 1em;
    gap: 1em;

    &__title {
      @extend atoms, %heading-secondary !optional;
    }
    &__tag {
      @extend atoms, %tag-technology !optional;
    }
    &__description {
    }
  }
}
