@use "../utils/functions" as fn;
@use "../utils/mixins" as mix;

html,
body {
  @include mix.default-font;
  background-color: fn.color(ambiant);
}

#content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1200px;
}
