@use "../utils/functions" as fn;
@use "../utils/variables" as var;
@use "../atoms/menu-item";
@use "../atoms/logo";

.site-header {
  display: flex;

  &__logo {
    @extend .logo;
    width: 20%;
  }
}

.nav {
  &__menu {
    display: flex;
    gap: var.$gap;
  }

  &__item {
    @extend .menu-item;
  }
}
